<!DOCTYPE html>
<html lang="en">
<head>
    {%include 'header.html'%}
    <title>Чому саме ми?</title>
</head>
<body>

{% include 'nav.html' %}

 <section class="white-section" id="features">
    <div class="container-fluid">
      <div class="row">
        <div class="feature-box col-lg-4">
          <i class="icon fa-solid fa-house-lock fa-5x"></i>
          <h3 class="feature-title">Окремий кабінет</h3>
          <p><i class="fa-solid fa-arrow-right-long"></i> Під час сеансу в приміщенні знаходиться лише тату-майстер та Ви. Сфокусованість тільки на Вас, що є гарантом якості та безпеки.</p>
        </div>

        <div class="feature-box col-lg-4">
          <i class="icon fa-solid fa-trash-arrow-up fa-5x"></i>
          <h3 class="feature-title">Одноразове використання розхідних матеріалів</h3>
          <p><i class="fa-solid fa-arrow-right-long"></i> Усі матеріали - голки, ковпачки з фарбою, перчатки, заживлюючі плівки, простирадло тощо є одноразовими. Все для Вашої безпеки.</p>
        </div>

        <div class="feature-box col-lg-4">
          <i class="icon fas fa-heart fa-5x"></i>
          <h3 class="feature-title">Дезинфекція та стерильність</h3>
          <p><i class="fa-solid fa-arrow-right-long"></i> Після кожного сеансу Ваш персональний кабінет дизенфікується</p>
        </div>
      </div>
    </div>

  </section>

  {% include 'footer.html' %}
</body>
</html>