<!DOCTYPE html>
<html>
<head>
  <title>Chizh Tatoo</title>
  {% include 'header.html' %}
</head>

<body>


      <!-- Nav Bar -->
      {% include 'nav.html' %}












  <!-- Call to Action -->

  <section class="white-section" id="cta">

    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <img class="cta-img" src="static/images/tarik.jpg" alt="Me">
        </div>
      <div class="col-lg-6">
        <h3 class="big-heading">Трохи про мене..</h3>
        <p >Привіт, я - Тарас. Маю великий досвід у сфері татуюваннь, оскільки працюю у даній сфері з 2010 року. Роблю татуювання практично у всіх стилях будь-якої складності, а також перекриття старих тату, корекцію татуюваннь, пірсинг та лазерне видалення. Перегляньте моє портфоліо та запишіться на консультацію - я з радістю допоможу Вам втілити всі Ваші мрії та ідеї в реальність. Кажуть, що у мене є хист та творчий талант, тому я завжди зможу допомогти у виборі тату або місця на шкірі аби реалізувати Ваші цікаві задумки якнайкраще!</p>
        <a class="btn btn-outline-dark btn-lg download-button" href="https://www.instagram.com/taras.4ij/"><i class="fa-solid fa-images"></i> Портфоліо</a>
        <a class="btn btn-outline-dark btn-lg download-button" href="http://t.me/+380934207930"><i class="fa-brands fa-telegram"></i> Записатись на сеанс</a>
      </div>
      
      </div>

    </div>
  </section>


  {% include 'footer.html' %}

</body>

</html>
