<!DOCTYPE html>
<html lang="en">
<head>
    {%include 'header.html'%}
    <title>Ціни</title>
</head>
<body>

{% include 'nav.html' %}

<section class="white-section" id="pricing">

    <h2 class="section-heading"><i class="icon fa-solid fa-dollar-sign fa-2x"></i> Цінова політика</h2>
    <p>Ціни та послуги:</p>

    <div class="row">

      <div class="pricing-column col-lg-4 col-md-12">
        <div class="card">
          <div class="card-header">
            <h3>Татуювання</h3>
          </div>
          <div class="card-body">
            <h2 class="price-text">100$ / сеанс</h2>
            <p><i class="pricing-icon fa-solid fa-check fa-2x"></i>  ~ 4 години праці</p>
            <p><i class="pricing-icon fa-solid fa-check fa-2x"></i>  Загоююча плівка бескоштовно</p>
            <p><i class="pricing-icon fa-solid fa-check fa-2x"></i>  Можливість нанесення первинної та вторинної анестезії</p>
            <p><i class="pricing-icon fa-solid fa-check fa-2x"></i>  Корекція тату</p>
            <a class="btn btn-outline-dark btn-lg download-button" href="http://t.me/+380934207930"><i class="fa-brands fa-telegram"></i> Консультація</a>
          </div>
        </div>
      </div>

      <div class="pricing-column col-lg-4 col-md-12">
        <div class="card">
          <div class="card-header">
            <h3>Лазерне видалення татуювання</h3>
          </div>
          <div class="card-body">
            <h2 class="price-text">400 hrn./ сеанс</h2>
            <p><i class="pricing-icon fa-solid fa-check fa-2x"></i>  Повне виведення татуювання (~ 4 сеанси) </p>
            <p><i class="pricing-icon fa-solid fa-check fa-2x"></i>  Можливість перекриття татуювання іншою </p>
            <p><i class="pricing-icon fa-solid fa-check fa-2x"></i>  Первинна та вторинна анестезія при потребі</p>
            <a class="btn btn-outline-dark btn-lg download-button" href="http://t.me/+380934207930"><i class="fa-brands fa-telegram"></i> Консультація</a>
          </div>
        </div>
      </div>

      <div class="pricing-column col-lg-4 col-md-12">
        <div class="card">
          <div class="card-header">
            <h3>Проколювання вух</h3>
          </div>
          <div class="card-body">
            <h2 class="price-text">600 hrn./ сеанс</h2>
            <p><i class="pricing-icon fa-solid fa-check fa-2x"></i>  У вартість входять сережки з медицинської сталі високої якості/p>
            <p><i class="pricing-icon fa-solid fa-check fa-2x"></i>  Консультація з приводу догляду за вухами після процедури</p>
            <p><i class="pricing-icon fa-solid fa-check fa-2x"></i>  Швидко, безпечно та безболісно завдяки найновітнішим технологіям</p>
            <a class="btn btn-outline-dark btn-lg download-button" href="http://t.me/+380934207930"><i class="fa-brands fa-telegram"></i> Консультація</a>


          </div>
        </div>
      </div>



    </div>

  </section>
  {% include 'footer.html' %}
</body>
</html>